@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito+Sans:wght@200&display=swap');

body {
    background: rgb(253, 248, 248);
}
.logo_ihub {
    font-family: 'Alata', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 55px;
    background: linear-gradient(90.25deg, #7F669D -0.28%, #BA94D1 32.63%, #DEBACE 71.82%, #F7CD8E 98.59%);

}
.menu{
    display: flex;
    list-style: none;
    align-items: center;

}
.menu li {
    margin: 70px;
    font-size: 16px;
    color:white;
    font-family: 'Kanit', sans-serif;

   
}
.login-ihub li{
    margin-left: 300px;
    font-family: 'Alata', sans-serif;
    color: rgb(154, 96, 159);
}
.dataTable{
    padding: 12px 0px 0px;
    margin: 40px;
    margin-left: 100px;
    width: 1296px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.data h3{
    font-family: 'Kanit', sans-serif;
  margin: 20px;
  margin-left: 100px;
}
.data h6{
    font-family: 'Kanit', sans-serif;
    margin: 5px;
    font-size: 14px;
}
.bginputsearch{
margin: 5px;
width: 250px;
height: 35px;
padding: 7px;
background: #FFFFFF;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.searchIcon{
   margin-top: -18px;
   margin-left: 200px;
   color: #7F669D;
}
.add_data {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    width: 130px;
    height: 40px;
    color: rgb(255, 255, 255);
    border: #f9f9f9;
    background: #F7CD8E;
    border-radius: 4px;
    margin-left: 940px;
}

.add_data:hover {
    color: #f59300;
}
