.ED-POPUP{
    display: flex;
  }
.Icon-delete{
  align-items: center;
}
  /* .ICON-DE{
    display: flex;
    margin-left: 80px;
  } */

  .TEXT-DE h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
  }
  
  