  
  body {
    background: rgb(253, 248, 248);
}
  
  /* หน้าสร้างโครงการ */
  .HEAD-POJECT{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    color: #000000;
  }
  
  .BG-POJECT{
    width: 100%;
    height: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }  
    .BG-POJECT h3{
      padding: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #000;
  
    }  
  .POJECT-1{

    display: flex;
    justify-content: center;

}
.POJECT-1 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}
.POJECT-2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.POJECT-2 h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}
.POJECT-3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.POJECT-3 h3 {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  margin-left: 23px;
  color: #000;
}
.POJECT-4 {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.POJECT-4 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}

/* .POJECT-5-1 {
box-sizing: border-box;
position: absolute;
width: 600px;
height: 140px;
left: 520px;
top: 680px;
border: 1px dashed #7B61FF;
border-radius: 5px;
}
.POJECT-5-1 h3{
  display: flex;
  align-items: center;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}
 */
 .POJECT-5 {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.POJECT-5 h3{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  color: #000;

}
.POJECT-6{
  display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-left: 150px;

}